@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore;
@using TechWebApplication.Models.Auth;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    if(SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin")) {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" asp-action="Index" asp-controller="Category"><i class="fas fa-box me-2 text-info"></i>Catgories</a></li>
                <li><a class="dropdown-item" asp-action="Index" asp-controller="UsersToCategory"><i class="fas fa-users me-2 text-info"></i>User Catgories</a></li>
                <li><a class="dropdown-item" asp-action="Index" asp-controller="MediaType"><i class="fas fa-file-video me-2 text-info"></i>Media Types</a></li>
            </ul>
        </li>
    }
}
