@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore;
@using TechWebApplication.Models.Auth;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    if(SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "Admin")) {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Admin
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" asp-action="Index" asp-controller="Category">Catgories</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-action="Index" asp-controller="UsersToCategory">User Catgories</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-action="Index" asp-controller="MediaType">Media Type</a></li>
            </ul>
        </li>
    }
}
