<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechWebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TechWebApplication.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<!--
         <link href="~/fontawesome-free-6.6.0-web/css/all.min.css" rel="stylesheet" />
    -->
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/TechTreeLogo.jpeg" height="45"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse d-sm-inline-flex justify-content-between collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home me-1 text-info"></i>Home</a>
                        </li>
                        @{
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#courses"><i class="fas fa-laptop-code me-1 text-info"></i>Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#contact-us"><i class="fas fa-phone-alt me-1 text-info"></i>Contact US</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="#about-us"><i class="fas fa-chalkboard-teacher me-1 text-info"></i>About Us</a>
                            </li>
                            if (User.Identity.IsAuthenticated) {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-action="UserCourses" asp-controller="Home"><i class="fa-solid fa-book-atlas me-1 text-info"></i> Library</a>
                                </li>
                            }

                        }
                        @{
                                <partial name="_AdminMenuPartial" />
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - TechWebApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
