@model int
<a asp-action="UpdateCategory" asp-route-id="@Model"> Edit </a>
<a asp-action="DetailCategory" asp-route-id="@Model"> Details </a>
<a asp-action="DeleteCategory" asp-route-id="@Model"> Delete </a>