@model TechWebApplication.Services.ViewModel.CategoryViewModel

@{
    ViewData["Title"] = "CreateCategory";
}

<h1 class="my-3 text-primary">Create Category</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-action="CreateCategory" asp-controller="Category" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="6" > </textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ThumbnailImagePath" class="control-label"></label>
                <input asp-for="ThumbnailImagePath" class="form-control" />
                <span asp-validation-for="ThumbnailImagePath" class="text-danger"></span>
            </div>
            <div class="form-group text-end">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="my-3">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
