@{
    ViewData["Title"] = "Home Page";
}
@{
    if (User.Identity.IsAuthenticated) {
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    } else {
        <div class="text-center">
            <h1 class="display-4">Not Logged In</h1>
        </div>
    }
}

<div class="modal fade" id="UserLoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <partial name="_UserLoginPartial"/>
</div>
<div class="modal fade" id="UserRegistrationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <partial name="_UserRegistrationPartial"/>
</div>
@section Scripts{
    <script src="~/js/UserLogin.js" asp-append-version="true"></script>
    <script src="~/js/UserRegistration.js" asp-append-version="true"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}