@model TechWebApplication.Services.ViewModel.CategoryDetailsViewModel

@using TechWebApplication.Services.ViewModel


@{
    ViewData["Title"] = "Home Page";
}


<partial name="_DefaultHomePageContentPartial" model="@Model.Categories" />

<div class="modal fade" id="UserLoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <partial name="_UserLoginPartial" model="new LoginViewModel
        {
            Email = String.Empty,
            Password = String.Empty,
            RememberMe = false
        }">
</div>

<div class="modal fade" id="UserRegistrationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <partial name="_UserRegistrationPartial" model="new RegisterViewModel
        {
            Email = String.Empty,
            Password = String.Empty,
            ConfirmPassword = String.Empty,
            FirstName = String.Empty,
            LastName = String.Empty,
            PhoneNumber = String.Empty,
            Address2 = String.Empty,
            PostCode = String.Empty,
            AcceptUserAgreement = false
        }">
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_AuthScriptsPartial");
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }

}