html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family:'Arial Rounded MT';
}
.progress, .alert-sucess{
    position:fixed;
    height:100px;
    top:50%;
    left : 0;
    width:90%;
    margin-left:5%;
}
.video-container{
    overflow:hidden;
    padding-top:56.25%;
    position:relative;
}
    .video-container iframe {
        border: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
.hero{
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}
li {
    position: relative;
    display: inline-block;
    padding: 5px;
}
    li::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 0;
        background-color: #0dcaf0;
        transition: width 0.4s ease-in-out;
    }

    li:hover::before {
        width: 100%;
    }
.hero .hero-heading {
    position:absolute;
/*        top:50%;
    left: 50%;
    transform:translate(-50%,-50%);*/
    inset:0;
    margin:auto;
    color:black;
    background-color:rgba(0, 0, 0,.2);
    z-index:1000;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
    .hero .hero-heading h2{
        text-align:center;
    }
.section-divider{
    height: 2px;
    background-color: rgb(13, 202, 240);
    margin:30px 0;
}
#name:hover{
    transform:none;
}
a:hover{
    outline:none !important;
    border:none !important;
}
input:focus{
    outline:none;
}
a:hover .card{
    box-shadow: 0 4px 8px rgba(0,0,0,.2), 0 6px 20px rgba(0,0,0,.19);
    transition:box-shadow .3s ease-in-out;
}
.section-header {
    margin:30px 0;
    color: rgb(13, 202, 240);
}
h3{
    margin:30px 0 0 0;
    padding:0;
}
select{
    outline:none !important;
}
select:focus{
    outline:none !important;
    border:none !important;
}
.card:hover{
    cursor:pointer;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
